$COLOR_CAUTION_RED: #ff1493;
$COLOR_ORANGE: #ff7a00;
$COLOR_BROWN: #803d00;
$COLOR_WHITE: #fff;
$COLOR_LIGHT_GRAY: #f0f0f0;
$COLOR_GRAY: #ccc;
$COLOR_DARK_GRAY: #999;
$COLOR_BLACK: #000;
$COLOR_DARK_GREEN: #013700;
